venv
.venv
.vscode
.env
.data
.csn_dataset
.dataset

test

tb_logs

__pycache__

*.egg-info
*.txt
*.log
*.dump

build/

backup*.sql

test*.py

qdrant*/

models/classification/searching_models/*
models/classification/trained_models/*